:root {
  --primary-color: #415de6;
  --secondary-color: #333c69;
  --accent: #5b6ab8;
  --bg: #07080b;
  --text: #edeef3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  margin: 10px;
}

header {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 2rem;
  h2 {
    font-weight: 300;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 10px 0 10px;
}

button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.navigation-menu {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  /* background: linear-gradient(200deg, var(--bg), var(--secondary-color)); */
  border-radius: 50px;

  font-size: 2rem;

  a {
    text-decoration: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
  a:hover {
    font-size: 2.3rem;
  }
}

.search-user {
  display: flex;
  margin: 0 10px 0 10px;
}

.search-user {
  div {
    display: flex;
    background-color: var(--bg);
    border: 1px solid var(--accent);
    border-radius: 25px;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
  }
  input {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
  }
  input:focus {
    outline: none;
    border: none;
  }

  button {
    border: none;
    background-color: var(--accent);
    font-size: 1.2rem;
    min-width: 40px;
    height: 100%;
    transition: all 0.1s ease;
  }
  button:hover {
    background-color: var(--primary-color); /*Change color*/
    font-size: 1.4rem;
    text-shadow: 0 0 4px var(--text);
  }
}

.user-data-container {
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--accent);
  background: linear-gradient(200deg, var(--bg), var(--secondary-color));
}

.profile-data {
  padding: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.user-data {
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    span {
      font-size: 1.2rem;
      font-weight: 100;
      display: flex;
      align-items: center;
    }
  }

  h4 {
    display: flex;
    align-items: end;
    gap: 4px;
    span {
      font-size: 0.7rem;
      color: var(--text);
    }
  }
}

.user-icon {
  border-radius: 50%;
  border: 3px solid var(--accent);
}

.user-info {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;
 gap: 10px;
}

.stories-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}

.post-container {
  display: flex;
  justify-content: center;
  border: 2px solid var(--accent);
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  article {
    height: 300px;
    width: 300px;
  }
}

.hidden {
  display: none;
}

.anonymously {
  background-color: var(--primary-color);
  padding: 8px;
}